[submodule "nuvex-xrpl"]
	path = nuvex-xrpl
	url = https://github.com/Beastdzns/nuvex-xrpl.git
	branch = main
	
[submodule "Nuvex-TWAP-HFTstrat"]
	path = Nuvex-TWAP-HFTstrat
	url = git@github.com:SHLOK333/Nuvex-TWAP-HFTstrat.git
[submodule "nuvex-cardano"]
	path = nuvex-cardano
	url = git@github.com:SHLOK333/nuvex-cardano.git
